body {
    font-family: sans-serif;
    font-size: 20px;
    margin: 30px
}
header {
    background-color: #BBF5AE;
    font-size: large;
    padding: 8px;
}
.a1 {
    color: black;
    border: 2px solid blue;
    border-radius: 10px;
    padding: 5px;
    background-color: white;
    text-decoration: none;
    font-size: 15px;
}
header img {
    border: 2px solid black;
    border-radius: 15px;
}
h1 {
    text-align: center;
    border: 3px dashed black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    background-color: #FAA300;
}
footer {
    border: 5px solid lightblue;
    background-color: #D7F9E8;
    border-radius: 10px;
}
footer p {
    background-color: lightblue;
    color: black;
    padding: 10px;
}
nav {
    background-color: #BBF5AE;
}
nav a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 13px;
}
nav a:hover {
    border: 2px solid black;
    padding: 3px;
    background-color: white;
}
.feyerv {
    border: 2px solid #eb6238;
    background-color: hsl(18, 80%, 68%);
    color: black;
    border-radius: 10px;
    font-size: 20px;
}
.feyer {
    background-color: black;
}
a {
    color: black;
    text-decoration-color: #eb6238;
}
